<tr>
    <td>
        <textarea name="secuencia" rows="3"
                  class="form-textarea"
                  placeholder="Ej: Preparación del área"></textarea>
    </td>

    <td>
        <textarea name="riesgo" rows="3"
                  class="form-textarea"
                  placeholder="Ej: Golpes, caída de material, exposición a ruido"></textarea>
    </td>

    <td>
        <textarea name="control" rows="3"
                  class="form-textarea"
                  placeholder="Ej: Inspección, bloqueo, señalización"></textarea>
    </td>
</tr>
